In [57]:
import pandapower as pp
import pandas as pd
import numpy as np
import pandapower.networks as nw

net_mv = nw.create_cigre_network_mv(with_der=False)

'''
This pandapower network includes the following parameter tables:
  - switch (8 elements)
  - load (18 elements)
  - ext_grid (1 elements)
  - line (15 elements)
  - trafo (2 elements)
  - bus (15 elements)
  - bus_geodata (15 elements)
'''

net_mv.bus

      name  vn_kv type      zone  in_service
0    Bus 0  110.0    b  CIGRE_MV        True
1    Bus 1   20.0    b  CIGRE_MV        True
2    Bus 2   20.0    b  CIGRE_MV        True
3    Bus 3   20.0    b  CIGRE_MV        True
4    Bus 4   20.0    b  CIGRE_MV        True
5    Bus 5   20.0    b  CIGRE_MV        True
6    Bus 6   20.0    b  CIGRE_MV        True
7    Bus 7   20.0    b  CIGRE_MV        True
8    Bus 8   20.0    b  CIGRE_MV        True
9    Bus 9   20.0    b  CIGRE_MV        True
10  Bus 10   20.0    b  CIGRE_MV        True
11  Bus 11   20.0    b  CIGRE_MV        True
12  Bus 12   20.0    b  CIGRE_MV        True
13  Bus 13   20.0    b  CIGRE_MV        True
14  Bus 14   20.0    b  CIGRE_MV        True

In [58]:
net_mv.trafo

,name,std_type,hv_bus,lv_bus,sn_mva,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent,pfe_kw,...,tap_neutral,tap_min,tap_max,tap_step_percent,tap_step_degree,tap_pos,tap_phase_shifter,parallel,df,in_service
0,Trafo 0-1,None,0,1,25.0,110.0,20.0,12.00107,0.16,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True
1,Trafo 0-12,None,0,12,25.0,110.0,20.0,12.00107,0.16,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True

In [59]:
pp.create_sgen(net_mv, bus = 1, p_mw = 10, sn_mva=10, name="PV1", type="PV")
pp.create_sgen(net_mv, bus = 1, p_mw = 12, sn_mva=12, name="WKA1", type="WP")
pp.create_sgen(net_mv, bus = 3, p_mw = 0.15, sn_mva=0.15, name="PV3", type="PV")
pp.create_sgen(net_mv, bus = 4, p_mw = 0.3, sn_mva=0.3, name="PV4", type="PV")
pp.create_sgen(net_mv, bus = 8, p_mw = 0.15, sn_mva=0.15, name="PV8", type="PV")
pp.create_sgen(net_mv, bus = 9, p_mw = 0.45, sn_mva=0.45, name="PV9", type="PV")
pp.create_sgen(net_mv, bus = 11, p_mw = 0.3, sn_mva=0.3, name="PV11", type="PV")
pp.create_sgen(net_mv, bus = 7, p_mw = 3, sn_mva=3, name="WKA7", type="WP")
pp.create_sgen(net_mv, bus = 12, p_mw = 15, sn_mva=15, name="PV12", type="PV")
pp.create_sgen(net_mv, bus = 12, p_mw = 12, sn_mva=12, name="WKA12", type="WP")

9

In [60]:
net_lv = nw.create_cigre_network_lv()

'''
This pandapower network includes the following parameter tables:
  - switch (3 elements)
  - load (15 elements)
  - ext_grid (1 elements)
  - line (37 elements)
  - trafo (3 elements)
  - bus (44 elements)
  - bus_geodata (44 elements)
'''

net_lv.bus

       name  vn_kv type      zone  in_service
0     Bus 0   20.0    b  CIGRE_LV        True
1    Bus R0   20.0    b  CIGRE_LV        True
2    Bus R1    0.4    b  CIGRE_LV        True
3    Bus R2    0.4    m  CIGRE_LV        True
4    Bus R3    0.4    m  CIGRE_LV        True
5    Bus R4    0.4    m  CIGRE_LV        True
6    Bus R5    0.4    m  CIGRE_LV        True
7    Bus R6    0.4    m  CIGRE_LV        True
8    Bus R7    0.4    m  CIGRE_LV        True
9    Bus R8    0.4    m  CIGRE_LV        True
10   Bus R9    0.4    m  CIGRE_LV        True
11  Bus R10    0.4    m  CIGRE_LV        True
12  Bus R11    0.4    m  CIGRE_LV        True
13  Bus R12    0.4    m  CIGRE_LV        True
14  Bus R13    0.4    m  CIGRE_LV        True
15  Bus R14    0.4    m  CIGRE_LV        True
16  Bus R15    0.4    m  CIGRE_LV        True
17  Bus R16    0.4    m  CIGRE_LV        True
18  Bus R17    0.4    m  CIGRE_LV        True
19  Bus R18    0.4    m  CIGRE_LV        True
20   Bus I0   20.0    b  CIGRE_LV        True
21   Bus I1    0.4    b  CIGRE_LV        True
22   Bus I2    0.4    m  CIGRE_LV        True
23   Bus C0   20.0    b  CIGRE_LV        True
24   Bus C1    0.4    b  CIGRE_LV        True
25   Bus C2    0.4    m  CIGRE_LV        True
26   Bus C3    0.4    m  CIGRE_LV        True
27   Bus C4    0.4    m  CIGRE_LV        True
28   Bus C5    0.4    m  CIGRE_LV        True
29   Bus C6    0.4    m  CIGRE_LV        True
30   Bus C7    0.4    m  CIGRE_LV        True
31   Bus C8    0.4    m  CIGRE_LV        True
32   Bus C9    0.4    m  CIGRE_LV        True
33  Bus C10    0.4    m  CIGRE_LV        True
34  Bus C11    0.4    m  CIGRE_LV        True
35  Bus C12    0.4    m  CIGRE_LV        True
36  Bus C13    0.4    m  CIGRE_LV        True
37  Bus C14    0.4    m  CIGRE_LV        True
38  Bus C15    0.4    m  CIGRE_LV        True
39  Bus C16    0.4    m  CIGRE_LV        True
40  Bus C17    0.4    m  CIGRE_LV        True
41  Bus C18    0.4    m  CIGRE_LV        True
42  Bus C19    0.4    m  CIGRE_LV        True
43  Bus C20    0.4    m  CIGRE_LV        True

In [61]:
pp.drop_buses(net_lv, net_lv.bus.index[20:44])
net_lv.bus

       name  vn_kv type      zone  in_service
0     Bus 0   20.0    b  CIGRE_LV        True
1    Bus R0   20.0    b  CIGRE_LV        True
2    Bus R1    0.4    b  CIGRE_LV        True
3    Bus R2    0.4    m  CIGRE_LV        True
4    Bus R3    0.4    m  CIGRE_LV        True
5    Bus R4    0.4    m  CIGRE_LV        True
6    Bus R5    0.4    m  CIGRE_LV        True
7    Bus R6    0.4    m  CIGRE_LV        True
8    Bus R7    0.4    m  CIGRE_LV        True
9    Bus R8    0.4    m  CIGRE_LV        True
10   Bus R9    0.4    m  CIGRE_LV        True
11  Bus R10    0.4    m  CIGRE_LV        True
12  Bus R11    0.4    m  CIGRE_LV        True
13  Bus R12    0.4    m  CIGRE_LV        True
14  Bus R13    0.4    m  CIGRE_LV        True
15  Bus R14    0.4    m  CIGRE_LV        True
16  Bus R15    0.4    m  CIGRE_LV        True
17  Bus R16    0.4    m  CIGRE_LV        True
18  Bus R17    0.4    m  CIGRE_LV        True
19  Bus R18    0.4    m  CIGRE_LV        True

In [62]:
pp.create_sgen(net_lv, bus = 2, p_mw = 0.1, sn_mva=0.1, name="PV_R1", type="PV")
pp.create_sgen(net_lv, bus = 12, p_mw = 0.03, sn_mva=0.03, name="PV_R11", type="PV")
pp.create_sgen(net_lv, bus = 16, p_mw = 0.03, sn_mva=0.03, name="PV_R15", type="PV")
pp.create_sgen(net_lv, bus = 17, p_mw = 0.03, sn_mva=0.03, name="PV_R16", type="PV")
pp.create_sgen(net_lv, bus = 18, p_mw = 0.05, sn_mva=0.05, name="PV_R17", type="PV")
pp.create_sgen(net_lv, bus = 19, p_mw = 0.05, sn_mva=0.05, name="PV_R18", type="PV")

5